@import "tailwindcss";

@theme {
  --font-sans: "Manrope", sans-serif;
  --font-serif: "Playfair Display", serif;
  --color-vatco-primary: #235286;
  --color-vatco-secondary: #F8E04B;
  --color-vatco-accent: #ce2c26;
  --color-vatco-dark: #111827;      
  --color-vatco-base: #F8FAFC;      
  --color-vatco-text: #1E293B;      
}

@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-15px); }
    100% { transform: translateY(0px); }
}
@keyframes float-reverse {
    0% { transform: translateY(0px); }
    50% { transform: translateY(15px); }
    100% { transform: translateY(0px); }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar { display: none; }
  .no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
  
  .animate-float { animation: float 6s ease-in-out infinite; }
  .animate-float-delayed { animation: float 6s ease-in-out 3s infinite; }
  .animate-float-reverse { animation: float-reverse 7s ease-in-out 1s infinite; }
}

@layer base {
  body {
    @apply bg-vatco-base text-vatco-text overflow-x-hidden selection:bg-vatco-secondary selection:text-vatco-primary;
  }
}